<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RouseMusicianPortfolioSite</title>

    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/startbootstrap-grayscale/css/grayscale.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    @* ---Fonts--- *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Dalton Rouse</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header id="page-top" class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0">Dalton Rouse Music</h1> <!-- took away text-uppercase -->
                <h5 class="text-white-50 mx-auto mt-2 mb-5" id="bio">Music Production, Studio Recording, Songwriting</h5>
                <!--
                    <div class="social d-flex justify-content-center" id="media">
                    <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://soundcloud.com/dalton-rouse" class="mx-4" target="_blank" rel="noreferrer">
                        <i class="fab fa-soundcloud"></i>
                    </a>
                </div><br />
                -->
                <a href="#about" class="btn btn-dark js-scroll-trigger">About</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Biography</h2>
                    <p class="text-white-50">
                        Information about the musician will be found here. How he got his start. Current education. Current goals. Etc.
                    </p>
                </div>
            </div>
            <img src="" class="img-fluid" alt=""> <!-- PNG image with transparent background!!! -->
        </div>
    </section>
    <br />
    <!-- Songs Section Soundcloud links-->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Song Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/stock-img/bw-acousticguitars-woodenbg-3-2.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>5th and Roy (Live)</h4>
                        <p class="text-black-50 mb-0">Song description</p> <br />
                        <p><iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520396668&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p>
                    </div>
                </div>
            </div>

            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/stock-img/bw-headphones-mic-3-2.jpg" alt="">
                </div>
                <div class="col-lg-6" id="blackBox">
                    <div class="text-center h-100 project bg-black">
                        <!-- Add bg-black if I want it back to the black panels -->
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white text-center">All's Fair In Fame And Fortune</h4>
                                <p class="mb-0 text-white-50 text-center">Song Description</p>
                                <br />
                                <div class="text-center">
                                    <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520404093&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                </div>
                                <!-- <hr class="d-none d-lg-block mb-0 ml-0"> light teal line for decoration -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/stock-img/bw-piano1-3-2.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first" id="blackBox">
                    <div class="text-center h-100 project bg-black">
                        <!-- Add bg-black if I want it back to the black panels -->
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white text-center">Blue Light</h4>
                                <p class="mb-0 text-white-50 text-center">Song Description</p>
                                <br />
                                <div class="text-center">
                                    <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520393788&color=%2300aabb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                    <!-- <hr class="d-none d-lg-block mb-0 mr-0"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Three Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/stock-img/bw-soundboard2-3-2.jpg" alt="">
                </div>
                <div class="col-lg-6" id="blackBox">
                    <div class="text-center h-100 project bg-black">
                        <!-- Add bg-black if I want it back to the black panels -->
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white text-center">Treasure (Electric Cover)</h4>
                                <p class="mb-0 text-white-50 text-center">Song Description</p>
                                <br />
                                <div class="text-center">
                                    <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520397577&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                </div>
                                <!-- <hr class="d-none d-lg-block mb-0 ml-0"> light teal line for decoration -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                    <form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-dark mx-auto">Subscribe</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2 text-black-50"></i>
                            <h4 class="text-uppercase m-0">Location</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Seattle, WA</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2 text-black-50"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="">ctcdalton@yahoo.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2 text-black-50"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+1 (555) 902-8832</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Social Media Section -->
            <!-- Icons from Font Awesome -->
            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-4">
                    <i class="fab fa-twitter" target="_blank" rel="noreferrer"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://soundcloud.com/dalton-rouse" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-soundcloud"></i>
                </a>
            </div>
        </div>
    </section>


    <!--
        <partial name="_CookieConsentPartial" />
    -->
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        @RenderBody()

        <div id="footer" class="container">
            Copyright &copy; Dalton Rouse Music @DateTime.Now.Year
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/startbootstrap-grayscale/js/grayscale.js"></script>

    <!-- Adding updated jquery links trying to fix collapsed nav issue -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
