

@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header id="page-top" class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0">Dalton Rouse Music</h1> <!-- took away text-uppercase -->
            <h5 class="text-white-50 mx-auto mt-2 mb-5" id="bio">Music Production, Studio Recording, Songwriting</h5>
            <!--
                <div class="social d-flex justify-content-center" id="media">
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://soundcloud.com/dalton-rouse" class="mx-4" target="_blank" rel="noreferrer">
                    <i class="fab fa-soundcloud"></i>
                </a>
            </div><br />
            -->
            <a href="#about" class="btn btn-dark js-scroll-trigger">About</a>
        </div>
    </div>
</header>
