@{
    ViewData["Title"] = "Music";
}

<!-- Music Section Soundcloud links-->
<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Song Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="~/stock-img/bw-acousticguitars-woodenbg-3-2.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>5th and Roy (Live)</h4>
                    <p class="text-black-50 mb-0">Song description</p> <br />
                    <p><iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520396668&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p>
                </div>
            </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/stock-img/bw-headphones-mic-3-2.jpg" alt="">
            </div>
            <div class="col-lg-6" id="blackBox">
                <div class="text-center h-100 project bg-black">
                    <!-- Add bg-black if I want it back to the black panels -->
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white text-center">All's Fair In Fame And Fortune</h4>
                            <p class="mb-0 text-white-50 text-center">Song Description</p>
                            <br />
                            <div class="text-center">
                                <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520404093&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                            </div>
                            <!-- <hr class="d-none d-lg-block mb-0 ml-0"> light teal line for decoration -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/stock-img/bw-piano1-3-2.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first" id="blackBox">
                <div class="text-center h-100 project bg-black">
                    <!-- Add bg-black if I want it back to the black panels -->
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white text-center">Blue Light</h4>
                            <p class="mb-0 text-white-50 text-center">Song Description</p>
                            <br />
                            <div class="text-center">
                                <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520393788&color=%2300aabb&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                                <!-- <hr class="d-none d-lg-block mb-0 mr-0"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/stock-img/bw-soundboard2-3-2.jpg" alt="">
            </div>
            <div class="col-lg-6" id="blackBox">
                <div class="text-center h-100 project bg-black">
                    <!-- Add bg-black if I want it back to the black panels -->
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white text-center">Treasure (Electric Cover)</h4>
                            <p class="mb-0 text-white-50 text-center">Song Description</p>
                            <br />
                            <div class="text-center">
                                <iframe height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/520397577&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                            </div>
                            <!-- <hr class="d-none d-lg-block mb-0 ml-0"> light teal line for decoration -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>