#blackBox{
    height: 370px;
}

#about {
    font-family: 'Nunito';
}

#signup {
    font-family: 'Nunito';
}

#tealbtn {
    background-color: #64a19d !important;
    border: none !important;
}

#footer {
    font-family: 'Nunito';
}

.nav-item {
    font-family: 'Nunito';
}

.navbar-brand {
    font-family: 'Nunito';
}




